body {
    margin: 40px;
  }

  .oszlop{
      grid-area: oszlop;
  }

  .sor3{
    grid-area: sor3;
  }
  
  .sidebar {
  grid-area: sidebar;
  }
  
  .content {
  grid-area: content;
  }
  
  .header {
  grid-area: header;
  }
  
  
  .wrapper {
  display: grid;
      grid-gap: 10px;
  grid-template-columns: 120px  120px  120px 120px;
  grid-template-areas:
                 "....... header  header oszlop"
   "sidebar content content oszlop"
   "sor3 sor3 sor3 oszlop";
  background-color: #fff;
  color: #444;
  }
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .header {
    background-color: #999;
  }